<!doctype html>
<html>
<head>
  <% include ./Shared/head %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
      
</head>
  <header style="margin top:0px;padding-top:0px;">
    <% include ./Shared/header %></header>
  <body style="padding:0;">

<div class="container">
  
    <div class="page-header text-center">
        <h1><span class="fa"></span> Nyheter</h1>
        
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
          <a class="twitter-timeline" href="https://twitter.com/dagensnyheter" data-widget-id="661538997303443456">Tweets by @dagensnyheter</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </div>

    </div>

</div>


</body>
</html>